:root {
    --background-gradient: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    --main-color: floralwhite;
    --nav-color: #fed9b7;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Segoe UI";
}

body {
    min-width: 250px;
    background: var(--background-gradient);
    background-repeat: no-repeat;
    &::-webkit-scrollbar {
        display: none;
    }
}

header {
    color: #b7afff;
    font-weight: 600;
    height: 6em;
    & > nav {
        width: 100%;
        height: 100%;
        background-color: var(--nav-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 3%;
        & > span:first-child {
            letter-spacing: 5px;
            &:hover {
                color: lightseagreen;
            }
        }
    }
}

.logo {
    font-size: 2em;
    display: inline-flex;
    user-select: none;
    font-family: "Poppins";
}

#snake {
    color: #303030;
    width: 50px;
    height: 50px;
    background: #889bf3;
    border-radius: 15px;
    padding: 3px;
    text-align: end;
    transition: width 1.5s ease-out;
    font-size: 30px;
}

main {
    min-height: 100vh;
    background-color: #fff8e0;
}

#main-title {
    padding-left: 1em;
    font-size: 3em;
    color: #ffa366;
}

#tools {
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
    gap: 1em;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
    user-select: none;
    padding: 2em;
    margin: 1em;
    & > .card {
        color: #303030;
        transition: all .5s ease;
        box-shadow: 5px 5px 0 #ffbbbb;
        width: 180px;
        height: 250px;
        background-color: red;
        padding: 1em;
        background-color: #fff;
        border-radius: 1em;
        display: grid;
        gap: 1em;
        &:hover {
            translate: 5px 5px;
            box-shadow: none;
            background-color: #889bf3;
            color: #fff;
            img {
                scale: .9;
            }
        }
        & > img {
            transition: scale .5s ease;
            width: 100%;
            animation: infiniteScale 1 ease-in-out;
        }
    }
}
a {
    text-decoration: none;
}
/* Footer */

/* Importing Google font - Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

.footer {
    position: absolute;
    max-width: 1280px;
    width: 95%;
    background: #251756;
    border-radius: 6px;
}   

.footer .footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3.5rem;
    padding: 60px;
}   

.footer-row .footer-col h4 {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
}   

.footer-col .links {
    margin-top: 20px;
}   

.footer-col .links li {
    list-style: none;
    margin-bottom: 10px;
}   

.footer-col .links li a {
    text-decoration: none;
    color: #bfbfbf;
}   

.footer-col .links li a:hover {
    color: #fff;
}   

.footer-col p {
    margin: 20px 0;
    color: #bfbfbf;
    max-width: 300px;
}   

.footer-col form {
    display: flex;
    gap: 5px;
}   

.footer-col input {
    height: 40px;
    border-radius: 6px;
    background: none;
    width: 100%;
    outline: none;
    border: 1px solid #7489C6 ;
    caret-color: #fff;
    color: #fff;
    padding-left: 10px;
}   

.footer-col input::placeholder {
    color: #ccc;
}   

.footer-col form button {
    background: #fff;
    outline: none;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s ease;
}   

.footer-col form button:hover {
    background: #cecccc;
}   

.footer-col .icons {
    display: flex;
    margin-top: 30px;
    gap: 30px;
    cursor: pointer;
}   

.footer-col .icons i {
    color: #afb6c7;
}   

.footer-col .icons i:hover  {
    color: #fff;
}   

@media (max-width: 768px) {
    .footer {
        position: relative;
        bottom: 0;
        left: 0;
        transform: none;
        width: 100%;
        border-radius: 0;
    }

    .footer .footer-row {
        padding: 20px;
        gap: 1rem;
    }

    .footer-col form {
        display: block;
    }

    .footer-col form :where(input, button) {
        width: 100%;
    }

    .footer-col form button {
        margin: 10px 0 0 0;
    }
}