:root {
	--background-gradient: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
	--main-color: #fffbf0;
	--nav-color: linear-gradient(to right, #fff3e2, #f7efed);
}

.spinner {
	position: absolute;
	top: calc(50% - 80px);
	left: calc(50% - 80px);
	border: 10px solid rgb(255, 224, 219);
	width: 80px;
	aspect-ratio: 4/4;
	border-radius: 50%;
	border-left-color: tomato;
	rotate: -80deg;
	animation: spinner 2s ease-in-out infinite;
}

@keyframes spinner {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100%;
	}
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Segoe UI";
}

body {
	min-width: 250px;
	background: var(--main-color);
	background-repeat: no-repeat;
	&::-webkit-scrollbar {
		display: none;
	}
}

header {
	color: #b7afff;
	font-weight: 600;
	height: 6em;
	display: none;
	opacity: 0;
	animation: fadeIn 1s ease forwards;
	& > nav {
		width: 100%;
		height: 100%;
		background-color: var(--nav-color);
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 3%;
		& > span {
			font-size: 2em;
			display: inline-flex;
			user-select: none;
			font-family: "Poppins";
			letter-spacing: 5px;
			&:hover {
				color: lightseagreen;
			}
		}
		& > ul {
			min-width: 50%;
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			& > li {
				list-style: none;
				& > .nav-link {
					text-decoration: none;
					&:hover {
						text-decoration: 2px underline tomato;
					}
				}
			}
		}
	}
}

main {
	min-height: 100vh;
	background-color: #fff8e0;
	display: none;
	opacity: 0;
	animation: fadeIn 1s ease forwards;
}

#main-title {
	padding-left: 1em;
	font-size: 3em;
	color: #1f2937;
}

#tools {
	display: flex;
	justify-items: center;
	flex-wrap: wrap;
	gap: 1em;
	border-radius: 10px;
	border: 2px solid #1f2937;
	user-select: none;
	padding: 2em;
	margin: 1em;
	background-color: #fffae6;
	& > .card {
		position: relative;
		color: #303030;
		transition: all 0.5s ease;
		box-shadow: 5px 5px 0 #ffe0c0;
		width: 220px;
		height: 356px;
		background-color: red;
		padding: 1em;
		background-color: #fff;
		border-radius: 1em;
		display: grid;
		gap: 1em;
		& > .actions {
			position: absolute;
			top: 0;
			display: none;
			width: 100%;
			height: 50px;
			padding: 0.5em;
            border-radius: 1em;
            align-items: left;
            gap: .5em;
		}
		&:hover {
			translate: 5px 5px;
			box-shadow: none;
			background-color: #889bf3;
			color: #fff;
            & > .actions {
                display: flex;
                background-color: #ffffff36;
            }
			img {
				scale: 0.9;
			}
		}
		& > img {
			transition: scale 0.5s ease;
			width: 100%;
			animation: infiniteScale 1 ease-in-out;
		}
	}
}

a {
	text-decoration: none;
}

/* From Uiverse.io by vinodjangid07 */
.Btn {
	width: 50px;
	height: 50px;
	border: none;
	border-radius: 50%;
	background-color: rgb(27, 27, 27);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	position: relative;
	transition-duration: 0.3s;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.11);
}

.svgIcon {
	fill: rgb(214, 178, 255);
}

.icon2 {
	width: 18px;
	height: 5px;
	border-bottom: 2px solid rgb(182, 143, 255);
	border-left: 2px solid rgb(182, 143, 255);
	border-right: 2px solid rgb(182, 143, 255);
}

.tooltip {
	position: absolute;
	right: -105px;
	opacity: 0;
	background-color: rgb(12, 12, 12);
	color: white;
	padding: 5px 10px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition-duration: 0.2s;
	pointer-events: none;
	letter-spacing: 0.5px;
}

.tooltip::before {
	position: absolute;
	content: "";
	width: 10px;
	height: 10px;
	background-color: rgb(12, 12, 12);
	background-size: 1000%;
	background-position: center;
	transform: rotate(45deg);
	left: -5%;
	transition-duration: 0.3s;
}

.Btn:hover .tooltip {
	opacity: 1;
	transition-duration: 0.3s;
}

.Btn:hover {
	background-color: rgb(150, 94, 255);
	transition-duration: 0.3s;
}

.Btn:hover .icon2 {
	border-bottom: 2px solid rgb(235, 235, 235);
	border-left: 2px solid rgb(235, 235, 235);
	border-right: 2px solid rgb(235, 235, 235);
}

.Btn:hover .svgIcon {
	fill: rgb(255, 255, 255);
	animation: slide-in-top 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-top {
	0% {
		transform: translateY(-10px);
		opacity: 0;
	}

	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}

footer {
	display: none;
	opacity: 0;
	animation: fadeIn 1s ease forwards;
	padding: 1em;
	text-align: center;
	font-weight: 600;
	letter-spacing: 5px;
}
